<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ArticleMapper">

    <select id="findArticles" resultType="Article">
        SELECT *  FROM article
    </select>
    <select id="findAniArticles" resultType="Article">
        SELECT *  FROM article where type = 1 order by created_at DESC;
    </select>
    <select id="findEmojiArticles" resultType="Article">
        SELECT *  FROM article where type = 2 order by created_at DESC;
    </select>
    <select id="findTop6Articles" resultType="Article">
        SELECT * FROM article order by like_count DESC LIMIT 6;
    </select>
    <select id="getArticle" resultType="Article">
        select * from article where id = #{articleId}
    </select>
    <insert id="createArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        insert into article(title, description, type) values (#{title},#{description},#{type})
    </insert>
    <select id="findIdArticles" resultType="Article">
        SELECT * FROM article where user_id = "hhants" order by like_count DESC LIMIT 6;
    </select>

<!--    id, userId, files, description, type, like_count, created_at, updated_at, deleted_at-->
</mapper>
